" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc


"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=5

" Do incremental searching.
set incsearch
set clipboard+=unnamed
set hlsearch
set relativenumber
set ignorecase
set smartcase
" Don't use Ex mode, use Q for formatting.
map Q gq

" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins

" Highlight copied text
Plug 'machakann/vim-highlightedyank'
" Commentary plugin
Plug 'tpope/vim-commentary'
Plug 'tpope/vim-surround'
Plug 'easymotion/vim-easymotion'
Plug 'preservim/nerdtree'
Plug 'terryma/vim-multiple-cursors'


set which-key

" disable the timeout option
set notimeout

" increase the timeoutlen (default: 1000), don't add space around the equal sign =
set timeoutlen=5000


"" Map <leader>d to start debug
"map <leader>d <Action>(Debug)

"" Map \b to toggle the breakpoint on the current line
"map \b <Action>(ToggleLineBreakpoint)
let mapleader=" "

" Redo
map U <C-r>

map ; :

map <leader>vf <Action>(ToggleFullScreen)

" Pane vertically split/horizontally split/close)
map <C-=> <Action>(SplitVertically)
map <C--> <Action>(SplitHorizontally)
map <C-BS> <Action>(Unsplit)
" Move between panes top/bottom/left/right)
map <C-k> <C-w>k
map <C-j> <C-w>j
map <C-h> <C-w>h
map <C-l> <C-w>l

"Move to center
map <C-d> <C-d>zz
map <C-u> <C-u>zz

"copy
map <leader>ya :% y+<CR>

nmap <C-k> <Action>(MoveStatementUp)
nmap <C-j> <Action>(MoveStatementDown)
" (Comment)
map <leader>/ <Action>(CommentByLineComment)
" Goto
map <leader>d <Action>(ShowErrorDescription)
map <leader>c <Action>(GotoClass)
map <leader>ff <Action>(GotoFile)
map <leader>fa <Action>(SearchEverywhere)
map <leader>gi <Action>(GotoImplementation)
map <leader>gd <Action>(GotoDeclaration)
map <leader>gt <Action>(GotoTest)
map <leader>st <Action>(ActivateProblemsViewToolWindow)
map K <Action>(QuickJavaDoc)
map <leader>ca <Action>(QuickActions)
map <leader>re <Action>(RefactoringMenu)
map ga <Action>(ShowIntentionActions)
map <leader>gu <Action>(ShowUsages)
map <leader>gr <Action>(FindUsages)
nmap <leader>x :action CloseEditor<CR>
map <leader>h <Action>(ActivateTerminalToolWindow)
map <leader>q <Action>(HideActiveWindow)
map <leader>1 <Action>(GoToTab1)
map <leader>2 <Action>(GoToTab2)
map <leader>3 <Action>(GoToTab3)
map <leader>4 <Action>(GoToTab4)
map <leader>5 <Action>(GoToTab5)
map <leader>sd <Action>(QuickJavaDoc)

" Build
map <leader>b <Action>(BuildMenu)
" Run & Debug
map <leader>rc <Action>(ContextRun)
map <leader>rf <Action>(ChooseRunConfiguration)
map <leader>rr <Action>(Rerun)
"map <leader>dc <Action>(ContextDebug)
"map <leader>df <Action>(ChooseDebugConfiguration)
" (Breakpoint)
map bb <Action>(ToggleLineBreakpoint)
map me <Action>(EditBreakpoint)
map ma <Action>(ViewBreakpoints)

" Tree
nnoremap <leader>e :NERDTreeToggle<CR>
nnoremap <leader>nf :action NewFile<CR>
" Generate
map <leader>i <Action>(Generate)

"Refactor
map <leader>fm <Action>(ReformatCode)
nmap <leader>oi <action>(OptimizeImports)
nmap <leader>ra <action>(RenameElement)
nnoremap <Tab> :action NextTab<CR>
